.footerarea{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    height:50px;
    position:fixed;
    width:100%;
    bottom:0;  
    color: white;
}



.footerarea h6{
    text-align:center;
    font-size:18px;
    margin-top: 10px;

}