.home-page{
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

.home-content{
    padding-top: 1%;
    justify-content: center;
    width: 100%;
}